*{
    margin: 0;
}
:root{
   --green : #04AA6D;
   --red : #f44336;
}
.container{
    display: flex;
}
.container .sidebar{
    width: 20%;
    background-color: #1D1F21;
    height: 100vh;
    overflow: scroll;
    transition: all 1s ease 0s;
}
.container .alert {
  padding: 10px;
  background-color: #04AA6D; /* Red */
  color: white;
  margin-bottom: 15px;
  position: absolute;
  bottom: 5%;
  right: 5%;  
  z-index: 9999;
  border-radius: 6px;
  max-width: 240px;
  overflow: hidden;
  display: none;
}
.iframe{
    padding: 5px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 9999;
    background: #222;
    width: 79.3%;
}
.iframe iframe{
  width: 100%;
}
.iframe div span{
    color : white;
}
.container .save{
  position: absolute;
  bottom: 5%;
  right: 5%;  
  z-index: 9999;
  display: none;
}
.container .save img{
  width: 35px;
}

.container .loader{
  position: absolute;
  top: 50%;
  right: 40%;  
  z-index: 9999;
  background-color: white;
  padding: 7px 3px;
  border-radius: 4px;
  display: none;
}
.container .menu{
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 999;
  background-color: wheat;
  display: none;
  border-radius: 4px;
  padding: 4px;
}
.container .menu img{
  width: 25px;
}
.container .file-options{
  display: flex;
  justify-content: space-between;
}

.container .sidebar ul li{
 margin: 4px 0px;
 list-style: none;
}
.container .sidebar ul li a , .container .sidebar a{
    text-decoration: none;
    color: wheat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container .sidebar ul li a img , .container .file-options div img{
  width: 20px;
  margin-right: 4px;
}
.container .sidebar ul li:hover  , .container .sidebar a:hover{
    background-color: rgba(184, 178, 178,0.5);
    cursor: pointer;
}
#editor { 
    position: absolute;
    top: 5%;
    right: 0;
    bottom: 30px;
    left: 20%;
    transition: all 1s;
}

.tabs{
  position: absolute;
  background-color:#1D1F21;
  width: 80%;
  height: 5%;
  top: 0;
  display: flex;
  overflow-x: scroll;
}
.tabs li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  max-width: 160px;
  list-style: none;
  left: auto;
  border-right: 1px solid rgb(37, 37, 38);
  background-color: rgb(45, 45, 45);
  color: rgba(255, 255, 255, 0.5);
}
.tabs li span{
  margin-left: 4px;
}
.tabs li span:nth-child(2){
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tabs li:hover{
  border-left: 1px dashed rgb(224, 224, 230);
  background-color: rgb(75, 72, 72);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;

}
/* MODAL */

.modal {
  width: 450px;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 9999;
  background-color: #fff;
}

.modal.active {
  top: 25%;
}

.modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.modal .body {
  padding: 0.75rem;
}
.modal .body input{
  width: 96%;
  padding: 8px;
}


/* SCROLL BARS */

/* width */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    cursor: pointer;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }


  @media screen and (max-width : 540px){
    .container .sidebar{
      position: absolute;
      top: 0;
      z-index: 9999;
      width: 60%;
    }
    .container .menu , .container .save{
      display: block;
    }
    .modal {
      width: 250px;
    }
    .iframe {
      width: 99%;
    }
    .tabs{
      width: 100%;
    }
  }